
.nav-container{
     background-color:rgb(32, 30, 30);
    border-radius: 3px solid;
    width: 1567px;
    height: 170px; 
}

.navbar-text{
    color:white;
    text-transform: capitalize;
    padding-right: 1400px;
    padding-top: 10px;
    font-size: 15px;
    padding-left: 115px;
}
.logo{
    padding-left: 110px;
}
.icon{
    padding-left: 110px;
}
.nav-barleftside{
    text-transform: none;
    font-size: 25px;
    position: absolute;
    top: 97px;
    left: 800px;
}
.one{
    color: white !important;
    padding-right: 70px;
    text-decoration:none ; 
}
.two{
    color: white !important;
    padding-right: 70px;
    text-decoration:none ; 
}
.three{
    color: white !important;
    padding-right: 70px;
    text-decoration:none ; 
}

.intro{
 background-color: rgb(23, 70, 23);
    color: rgb(204, 219, 115);
    position: relative;
    height: 290px;
    padding-top: 65px;
    padding-bottom: 75px;

    
}
.sir{
    position: absolute;
    left: 300px;
    bottom: 75px;

}

.intro-left{
    padding-left: 120px;
    padding-top: 20px;
    font-size: 17px;
}
.intro-left1{
    position: absolute;
    padding-top: 90px;
    left: 120px;
    font-size: 16px;
    font-weight: bolder;
    
}

 h4{
    color: white;
    padding-left: 110px;
} 
.intro-right{
    position: absolute;
    left: 980px;
    top: 60px;
}

#slider{
    overflow: hidden ;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 18s slider infinite;
}
#slider figure img {
    float: left;
    width: 22%;
}
.pic1{
    width: 20% !important;
}
.pic2{
    width: 21% !important;
}
.pic3{
    width: 18.6% !important;
}
.pic4{
    width: 16.6% !important;
}
.pic5{
    width: 20% !important;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.four-big1{
    background-color: rgb(29, 24, 24);
    color:brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 120px;
}
.forth-container {
    display: flex;
    padding-bottom: 30px;
    padding-top: 70px;
    padding-left: 200px;

    
}
.lalqila{
    border: 2px solid rgb(201, 194, 194);
    margin: 12px;
    width: 350px;
    height: 400px;
    color:goldenrod;
    
}
.hosptial{
    border: 2px solid  rgb(201, 194, 194);
    margin: 12px;
    width: 350px;
    height: 400px;
    color: goldenrod;
}
.text2{
    font-size: 15px;
}
.chess{
    border: 2px solid  rgb(201, 194, 194);
    margin: 12px;
    width: 350px;
    height: 400px;
    color: goldenrod;
}  
.js-bigone{
    background-color: rgb(23, 70, 23);
    color:rgb(244, 244, 244);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 120px;
}
.java-script{
   
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    
}

.j.s1{
    border: 2px solid gray;
    margin: 12px;
    width: 300px;
    height: 300px;
    padding-right: 20px;
    color: goldenrod;
    text-decoration: none !important;
    text-transform: none !important;

}
.j.s2{
    border: 2px solid gray;
    margin: 12px;
    width: 300px;
    height: 300px;
    color: goldenrod;
    text-decoration: none !important;
    text-transform: none !important;
}
.writing{
    color: goldenrod;
    text-decoration: none !important;
    text-transform: none !important;
    
}
.footer {
    background-color: rgb(6, 6, 6);
    color: brown;
    padding-top: 120px;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}
.wrapper{
    display: flex;
    font-size: 20px;
    padding-left: 40px;
    float: left;
    margin: 0 5px;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: black;
}

.wrapper.button.icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper.button:nth-child(1)
hover.icon{background: #4267b2;}

.wrapper.button:nth-child(2)
hover.icon{background:rgb(108, 180, 224);}

.wrapper.button:nth-child(3)
hover.icon{background:rgb(78, 182, 78);}

.wrapper button:nth-child(4)
hover.icon{background: rgb(177, 25, 5);}

.wrapper.button:nth-child(5)
hover.icon{background:rgba(176, 46, 3, 0.883);}

.wrapper.button.icon i{
    font-size: 25px;
    line-height: 60px;
    transition:all 0.3s ease-out ;
}

.wrapper .button:nth-child(1)
 span{color:#4267b2; }

 .wrapper .button:nth-child(2)
 span{color:rgb(108, 180, 224); }

 .wrapper .button:nth-child(3)
 span{color:rgb(78, 182, 78); }

 .wrapper .button:nth-child(4)
 span{color:rgb(177, 25, 5); }

 .wrapper .button:nth-child(5)
 span{color:rgba(176, 46, 3, 0.883); }

