body{
    padding: 0px 100px;
}
h1{
    text-align: center;
    background-color: #006780;
    color: white;
    padding: 10px;
    margin: 0px;
}
#text-box{
    width: 99.5%;
    border-color:#006780 ;
    font-size: 15px;
}
p{
    text-align: center;
    background-color: #006780;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 0px;
}