.heading{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.container{
    background-color: brown;
    
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0;
}
.button{
    padding: 25px;
    margin: 0 3px;
    border: 2px solid rgb(49, 42, 42);
    border-radius: 10px;
    cursor: pointer;
}
.clear-btn{
    width: 16%;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid rgb(49, 42, 42);
    border-radius: 10px;
    cursor: pointer;
}
.row input{
    padding: 6px 40px;
    margin: 0px;
    border: 2px solid rgb(49, 42, 42);
    border-radius: 5px;
    
}